<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <h1>Link Shortener</h1>

    <form id="shorten-form">
        <label for="long-url">Enter a long URL:</label>
        <input type="text" id="long-url" name="long-url" required>
        <button type="submit">Shorten</button>
    </form>

    <div id="shortened-url" style="display: none;">
        <p>Shortened URL:</p>
        <a id="short-link" href=""></a>
    </div>

    <script>
        document.getElementById('shorten-form').addEventListener('submit', async function (e) {
            e.preventDefault();
            const longUrl = document.getElementById('long-url').value;
            const response = await fetch('/shorten', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ long_url: longUrl }),
            });
            const data = await response.json();
            if (response.ok) {
                const shortLink = document.getElementById('short-link');
                shortLink.href = data.short_url;
                shortLink.textContent = data.short_url;
                document.getElementById('shortened-url').style.display = 'block';
            } else {
                alert('Error: ' + data.error);
            }
        });
    </script>
</body>

</html>